body{background-color:#A75151 ;
    color: #000000;
}

h1{background-color: #ffffff;
color: #000000;
line-height: initial;
text-indent: 0;
height: 120px;
padding-top: 20px;
background-image: url(spin.jpg);
background-repeat: no-repeat;
background-position: right;
}

h1{margin-bottom: 0;
}

nav{background-color: #af9e9f;
color: #351d2d;
text-align: center;
padding: 1em;
font-weight: bold;
font-size: larger;
}

h2{color: #581249;
}

.resort{color: #ffffff;
}

img{float: right;
margin:1em;
}

table {border: 2px solid #676565;
border-collapse: collapse;
}

td, th {padding: 0.5em;
border: 2px solid #121212;
}

td {text-align: center;
}

tr:nth-of-type(even) {background-color: #a96b6b;
}

thead {background-color: #f9f5f5;
}

form {display: flex;
flex-direction: column;
flex-wrap: nowrap;
}

