body{background-color:#A75151 ;
    color: #000000;
}

h1{background-color: #ffffff;
color: #000000;
line-height: initial;
text-indent: 0;
height: 120px;
padding-top: 20px;
background-image: url(spin.jpg);
background-repeat: no-repeat;
background-position: right;
}

h1{margin-bottom: 0;
}

nav{background-color: #af9e9f;
color: #351d2d;
text-align: center;
padding: 1em;
font-weight: bold;
font-size: larger;
}

h2{color: #502440;
}

.resort{color: #ffffff;
}

img{float: right;}
